.background{
    background-color: #FFFFFF;
}

.bar{
    height: 15px;
}

#input{
    width: 500px;
}

#tasks{
    width: 100px;
}

#chunkify{
    background-color: #3E2F5B; 
    color: white;
    border-color: #3E2F5B;
}

#dueDate{
    background-color: #E01A4F; 
    color: white;
    border-color: #E01A4F;
}

.addTask{
    width: 90%;
}
